<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Blind Supervision</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="poker.css">

  </head>
  <body ng-app>
    <div ng-hide="true">Please hold while we connect you with one of our operators...</div>

    <div class="clearfix" id="blindSupervision" poker-controller ng-cloak>

      <!-- Current Level -->
      <div class="levelWrapper clearfix" style="height: 135px;">
        <div class="levelNumber"><span class="levelNumberSpan">{{controller.currentLevel +1}}</span></div>
        <div class="countdownArea">
          <countdown class="countdown" ng-unless="controller.isSuddenDeath"
            start-time="controller.levelLength"
            is-running="controller.isRunning"
    	      on-countdown-complete="controller.onLevelComplete()">
          </countdown>

          <h1 id="suddenDeath" ng-if="controller.isSuddenDeath">Sudden Death</h1>
        </div>

        <blind class="blind" blind="controller.currentBlind"></blind>
      </div>


      <!-- Next Level -->
      <div class="levelWrapper roundCorners clearfix" style="width: 80%; height: 110px;"
           ng-if="!controller.isLastLevel">
        <div class="levelNumber"><span class="levelNumberSpan">{{controller.currentLevel +2}}</span></div>
        <div class="countdownArea">
          <h1>{{controller.levelLength}}:00</h1>
        </div>

        <blind class="blind" style="font-size: .8em" blind="controller.nextBlind"></blind>
      </div>


      <div id="controllButtons" ng-unless="controller.isSuddenDeath">
        <button class="button" ng-click="controller.toggleTimer()">{{controller.controlText}}</button>
        <button class="button" id="resetButton" ng-click="controller.resetLevel()">Reset</button>
      </div>

      <div class="chipsWrapper roundCorners clearfix" style="width: 80%; height: 110px;">
        <chip class="chip" chips="controller.chips"></chip>
      </div>

      <!-- Maybe admin area can be it's own component ?? -->
      <div style="margin-left:5px;">
        <div style="text-align:left;">
          <a ng-click="controller.toggleAdminArea()" href="#">Administration</a>
        </div>
        <div id="adminArea" hidden style="text-align: left;">

          <!-- need to try to hide this and add our own button:
          http://www.shauninman.com/archive/2007/09/10/styling_file_inputs_with_css_and_the_dom
          http://stackoverflow.com/questions/3956286/how-to-remove-text-field-from-html-file-input
          -->
            Import Schedule
            <div>
                From File: <input type="file" id="upload" ng-change="controller.onFileLoad()"/>
            </div>
            <div ng-if="!controller.noAvailableSchedules()">
            <label for="scheduleNameDropDown">From Server</label>
            <select ng-model="controller.savedScheduleNames[0]" id="scheduleNameDropDown" >
                <option ng-repeat="scheduleName in controller.savedScheduleNames" ng-value="scheduleName">{{scheduleName}}</option>
            </select>
            </div>
        </div>
      </div>


      <br /><br />
      <div id="title">Blind Supervision</div>
    </div>

    <script type="application/dart" src="poker.dart"></script>
    <script src="packages/browser/dart.js"></script>
    <!--Yes, this is necessary-->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  </body>
</html>
