body {
  background-image: url("images/backgroundPattern.png");
  background-repeat: repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  color: white;
  text-align: center;
}

#blindSupervision {
  text-align: center;  
  max-width: 1000px;
  min-width: 900px;
  margin: auto;
  padding-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: hsla(0, 0%, 13%, 0.75);
  height: 100%;
}

h1 {
  font-size: 4em;
  text-align: center;
}

p {
  color: #333;
}

a, a:visited, a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.roundCorners {
  -webkit-border-radius: 15px 15px 0px 0px; 
  -moz-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.countdownArea{
  float: left;
  margin-right: 5%;
  margin-left: 5%;
}

.blind {
  float: left;
  height: 100%;
}

#title {
  color: rgba(154, 6, 0, 1);
  float: left;
  font-weight: bolder;
  font-size: 1.7em;
  margin-left: 5px;
  
}

#suddenDeath {
  text-shadow:1px 2px 3px rgba(0,0,0,0.9);
  font-weight:bold;
  font-variant:small-caps;
  color:#9E0909;
  font-size:6em;
  line-height:1;
}

.clearBoth {
  clear: both;
}

.levelWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  
  /* Done using http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  
}

.chipsWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  
  /* Done using http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  
}

.levelNumber {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #4E4E4D;
  border-radius: 0 0 20% 0;
  width: 30px;
  height: 30px;
}

.levelNumberSpan {
  position: absolute;
  top: 21%;   /* The only way I found to center text. Please improve if possible */
  left: 37%;
}


.ng-hide{
  display: none;
}

[ng-cloak] {
  display: none;
}
