
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

.ng-hide{
  display: none;
}

[ng-cloak] {
  display: none;
}

#timeRemaining {
  font-size: 10em;
  line-height: 2em;
}

//TODO MAKE MY BUTTON Bigger
